/* hide the default shaded region */
:global(#qr-shaded-region) {
  display: none !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-height: 70vh; /* Limit height to 70% of viewport height */
}

/* Add this to constrain the video element */
.wrapper :global(video) {
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
}

.shaded-region {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  outline: 100vw solid rgba(0, 0, 0, 0.48);
}
